Session {
    border: solid gray;
    height: 1fr;
    width: 1fr;
}

#cam, #slides, #venue, #audio {
    width: 1fr;
}

#captions, #streaming, #recording {
    width: 3;
}

#meters {
    width: 10;
}

#data_header {
    height: 1;
    margin: 0 9 0 1;
}

.error {
    color: red;
}

.error_icon {
    background: red;
}

.warn_icon {
    background: darkorange;
}